includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
    excludePaths:
        analyseAndScan:
            - app/Functions/MyTranslateFunction.php
            - app/Http/Livewire

    # Level 9 is the highest level
    level: 5
